body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: #2f2f2f;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.display input {
    width: 93%;
    height: 50px;
    border: none;
    background: #171717;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    color: white;
}



.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background: #e5e7eb;
    border: none;
    border-radius: 5px;
    height: 50px;
    font-size: 1.2em;
    cursor: pointer;
}

.btn:hover {
    background: #d1d5db;
}

.operator {
    background: #6366f1;
    color: white;
}

.operator:hover {
    background: #4f46e5;
}

.clear {
    background: #ef4444;
    color: white;
}

.clear:hover {
    background: #dc2626;
}

.equal {
    background: #05f9a7;
    color: white;
    width: 75%;
}

.backspace{
    width: 23%;
}

.equal:hover {
    background: #04d69f;
}

.btn:active {
    transform: scale(0.98);
}

.twoButtons{
    display: flex;
    padding-top: 10px;
    gap: 10px;
}
